# Python
__pycache__/
*.py[cod]
*.so
.Python
env/
venv/
.env
*.log
*.pot
*.pyc
db.sqlite3

# Django
*.log
local_settings.py
media/
staticfiles/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db